@model HomeIndexViewModel
<div class="row">
    <div class="col-2 mx-auto">
        <h5>@Model.PageTitle</h5>
    </div>
</div>
@if (Model.HolidayHomes.Count() == 0)
{
    <div class="row">
        <div class="col-2 mx-auto">
            <div class="alert alert-info">
                "No homes found..."
            </div>
        </div>
    </div>
}
else
{
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var holidayHome in Model.HolidayHomes)
        {
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="~/images/@holidayHome.Image" alt="@holidayHome.Name" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">@holidayHome.Name</h5>
                            <!--Product Location-->
                            @holidayHome.Location.Name
                            <!-- Product price-->
                            @holidayHome.Price.ToString("F2") &euro;
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="Home" 
                                                    asp-action="Info"
                                                    asp-route-id="@holidayHome.Id">Info</a></div>
                    </div>
                </div>
            </div>
        }
    </div>
}